:root {
  --primary-font-family:"Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-text: #757575;
  --title-text-color: #212121;
  --secondary-title-text-color: #ffffff;
  --secondary-text-color: #2196f3;
  --accent-color: #2196f3;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-text);
}
h1,h2,h3 {
  margin-top: 0; 
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: var(--accent-color);
}
.link:focus {
  color: var(--accent-color);
  }

  .container {
  
    width: 1200px;
    padding-left: 15px;
    margin-left: auto;
    padding-right: 15px;
    margin-right: auto;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

/*====header starts=====*/

.header-container {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 0;
margin-bottom: 0;
}

  

.logo {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: 0;
  
}
.logo-web {
  color: var(--secondary-text-color);
}
.logo-studio {
  color: #000;
}
.navigation {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  margin-top: 32px;
}

.navigation-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.current{
  color: var(--secondary-text-color);
  }

.contacts {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 32px
}
.contacts-link {
  color: var(--primary-text-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  

}
.contacts-item:not(:last-child) {
  margin-right: 50px;
 
  }
/*====header end=====*/


/*=======main section========*/

/*==moto section===*/

.hero {
  
  text-align: center;
  background-color: #2f303a;
  padding: 200px 452px;
  
  
  
}
.hero-head {
  min-width: 696px;
  color: var(--secondary-title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  
 
  
  
}
.hero-btn {
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87x;
  color: var(--secondary-title-text-color);
  background-color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  
  
}
/*==moto-section ends==*/

/*===company qualities==*/


.section-qualities-list {
  display: flex;
  justify-content: center;
    
}
.section-qualities-list-item {
  width: calc((100%-120px)/4);
}
.section-qualities-list-item:not(:last-child) {
  margin-right: 30px;
}
.section-qualities-title {
  display: none;
  

}
.section-qualities-list-head {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-qualities-list-text {
  font-size: 14px;
  line-height: 1.71;
}
/*===company qualities ends==*/

/*===Company Activities===*/ 

.company-activities {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
}
  
.activities-images-list {
display: flex;
margin-bottom: 82px;
}
.activities-images-item:not(:last-child) {
  margin-right: 30px;
  
}
.company-activities-head {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  }
/*==== Our Team===*/

.team-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f4fa;
  justify-content: center;
}

  

.team-section-list {
  display: flex;
  }

  .team-section-item {
    flex-basis: calc((100%-120)/4);
    border-bottom:3px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  .team-section-item:not(:last-child) {
    margin-right:30px ;

  }

 .team-section-item:not(:last-child) {
   margin-right: 30px;

 }
.team-section-head {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-section-list-head {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section-list-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}


/*===our team end===*/

/*===footer===*/
footer {
background-color: #2f303a;
}

 
.footer-logo{
  display: block;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  
 }
.footer-logo-web {
  color: var(--secondary-text-color);
}
.footer-logo-studio {
  color: var(--secondary-title-text-color);
}
.footer-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address {
  color: var(--secondary-title-text-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}



/*====portfolio start=====*/

.portfolio-main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter {
  cursor: pointer;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.filter-list {
  display: flex;
  margin-bottom: 34px;
}
.filter-item:not(:only-child) {
  margin-left: 8px;
}

.filter-item {
 
}

.filter-btn{
font-family: var(--primary-font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
background-color:#F5F4FA;
min-width: 130px;
padding: 6px 22px;
border: solid #F5F4FA;
border-radius: 4px;
}
.filter-btn:hover {
  color: var(--secondary-title-text-color);
  background-color: var(--accent-color);
  
}



.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-title {
  display: none;
 
}


  
  .projects-list-item-head {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
